.indent {
	border-left:4px solid #008282;
	padding-left:8px;
	padding-bottom:4px;
	margin-top:4px;
}
.tag-input {
	width:256px;
	height:128px;
}
.area-group {
	display:table;
	border-collapse:collapse;
}
.area, .hs-table {
	border:4px solid #008282;
	background-color:#3b3d3c;
}
.area {
	padding:8px;
	display:table-cell;
	vertical-align:top;
}
.hs-table {
	border-collapse:collapse;
}
.hs-table th, .hs-table td {
	border:1px solid white;
	padding:2px 4px;
	vertical-align:top;
}
.hs-table th[scope="row"] {
	text-align:right;
}
.nav-list-1 {
	list-style-type:lower-alpha;
}
.nav-list-2 {
	list-style-type:lower-roman;
}
.nav-list-3 {
	list-style-type:lower-greek;
}
.nav-tags {
	vertical-align:middle;
}
.mono {
	font-family:"Courier New",monospace;
	font-size:14px;
	font-weight:bold;
}
.inline-list-commas {
	list-style-type:none;
	padding:0;
	margin:0;
}
.inline-list-commas > li {
	display:inline;
}
.inline-list-commas > li:after {
	content:", ";
}
.inline-list-commas > li:last-child:after {
	content:"";
}
.color-cell, .char-data-table .color-cell {
	text-align:center;
	vertical-align:middle;
}
.style-img {
	width:768px;
}
.thumb-img {
	max-width:32px;
	max-height:32px;
}
a[target="_blank"]:after {
	content:"\21d7";
	display:inline-block;
	vertical-align:top;
}
.char-data-table td {
	text-align:center;
}
