.log-container {
	font-family:Courier,"Courier New",monospace;
	font-weight:bold;
}
.image-container {
	margin:1em;
}
.image-container:empty {
	display:none;
}
.inventory, .actions {
	padding:0 1em;
}
.quests {
	border-left:1px solid #e4e4e4;
	border-top:1px solid #e4e4e4;
	padding:0 1em;
}
.main-title {
	font-weight:bold;
	font-size:1.66em;
	margin-top:0;
}
.section-title {
	font-weight:bold;
	font-size:1.5em;
}
